/vendor/
/.env
/config.yml*
/.idea/
/var/log/
!/var/log/.gitkeep
/var/cache/
!/var/cache/.gitkeep
/.phpunit.result.cache
/.php_cs.cache
/.php-cs-fixer.cache
/coverage.xml
/.serverless/
/node_modules/
