parameters:
	paths:
		- %currentWorkingDirectory%/src
		- %currentWorkingDirectory%/tests
	excludePaths:
		- %currentWorkingDirectory%/src/Container.php
	level: 8
	ignoreErrors:
		- '#(Property|Method) .+ type has no value type specified in iterable type array.#'
		- '#Method .+ has parameter .+ with no value type specified in iterable type array.#'
